<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>
<body>
	<form action="http://211.110.61.51:5000/set_book" method="post" name="my_form">
		ISBN: <input type="text" name="isbn"> <br>
		TITLE: <input type="text" name="title"> <br>
		AUTHOR: <input type="text" name="author"> <br>
		PUBLISHER: <input type="text" name="publisher"> <br>
		EDITION: <input type="text" name="edition"> <br>
		CONDITION: <input type="text" name="condition"> <br>
		PRICE: <input type="text" name="price"> <br>
	<input type="submit" value="전송" name="submitbtn">
	<input type="reset" value="초기화" name="resetbtn">
</form>
</body>
</html>

