<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>
<body>
	<form action="http://211.110.61.51:5000/login" method="post" name="my_form">
		ID: <input type="text" name="email"> <br>
		PW: <input type="text" name="pw"> <br>
	<input type="submit" value="전송" name="submitbtn">
	<input type="reset" value="초기화" name="resetbtn">
</form>
</body>
</html>

